.content-cursos{
    padding: 2rem 0;
    border-bottom: 1px solid rgb(213, 213, 213);;
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 4rem;
}
.content-cursos:last-of-type{
    border-bottom: none;

}


@media (max-width:400px){
    .content-cursos{
        display: block;
    }
    .section-info{
        padding: 1rem;
    }
    .section-boton a{
        width: 100%;
    }
    
}
@media (max-width:768px){
    .content-cursos{
        display: block;
    }
    .section-info{
        padding: 1rem;
    }
    .section-boton a{
        width: 75%;
        text-align: center;
    }
    .contenedor{
        width: 85%;
    }

}
@media (min-width:769px){
    .header-cursos,.footer-cursos,.curso-scroll-1,.curso-scroll-2,.curso-scroll-3{
        scroll-snap-align: center; /*Para que frene el scroll en cada article*/
        scroll-snap-stop: always;
    }
}

.section-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    text-transform: uppercase;
}



